.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

body {
  font-family: Roboto, sans-serif;
  color: #212121;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 1199px) {
  .section-none {
    display: none;
  }
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/imghero.jpg);
  background-color: #c4c4c4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  min-height: 400px;
  padding-top: 118px;
  padding-bottom: 118px;
}

@media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mobile/imghero@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/imghero.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/tablet/imghero@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    min-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/imghero.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/desktop/imghero@2x.jpg);
  }
}

.hero__title {
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin: 0 auto 30px;
  max-width: 360px;
  font-size: 26px;
  line-height: calc(42 / 26);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    line-height: calc(60 / 44);
  }
}

.hero__btn {
  align-items: center;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__btn:hover, .hero__btn:focus {
  background-color: #188ce8;
}

.btn, .hero__btn, .btn-send, .subscribe__btn {
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: #fff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  cursor: pointer;
}

.section__title {
  margin-bottom: 30px;
  font-weight: 700;
  text-align: center;
  font-size: 28px;
  line-height: calc(28.81 / 28);
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: calc(42 / 36);
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .advantages__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    flex-basis: calc((100% - 120px) / 4);
  }
}

.advantages__title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: calc(16.41 / 14);
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .advantages__title {
    text-align: center;
  }
}

.advantages__text {
  font-size: 14px;
  line-height: calc(24 / 14);
  color: #757575;
}

.advantages__box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  max-width: 100%;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.development {
  display: flex;
}

.development__item {
  position: relative;
}

.development__item:not(:last-child) {
  margin-right: 30px;
}

.development__title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: #fff;
}

.section--padding {
  padding-top: 0;
}

.development__box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
}

.section--background {
  background-color: #f5f4fa;
}

.team {
  font-size: 16px;
  line-height: calc(18.75 / 16);
  text-align: center;
}

@media screen and (min-width: 768px) {
  .team {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .team__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 120px) / 4);
    margin: 15px;
  }
}

.team__box {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: #fff;
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 1200px) {
  .team__box {
    padding-bottom: 30px;
  }
}

.team__title {
  font-weight: 500;
  margin-bottom: 10px;
}

.team__text {
  font-weight: 400;
  color: #757575;
  margin-bottom: 16px;
}

.social {
  display: flex;
  justify-content: center;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  display: block;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: #2196f3;
}

.social__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover > .social__icon {
  fill: #fff;
}

.social__link:focus > .social__icon {
  fill: #fff;
}

.client {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.client__item {
  flex-basis: calc((100% - 60px) / 2);
  margin: 15px;
}

@media screen and (min-width: 768px) {
  .client__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .client__item {
    flex-basis: calc((100% - 180px) / 6);
  }
}

.client__link {
  display: flex;
  justify-content: center;
  padding: 15px 31px;
  border: 1px solid #afb1b8;
  color: #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover, .client__link:focus {
  border: 1px solid #2196f3;
}

.client__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover > .client__icon {
  fill: #2196f3;
}

.client__link:focus > .client__icon {
  fill: #2196f3;
}

.feedback {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.feedback__title {
  font-weight: 700;
  font-size: 20px;
  line-height: calc(30 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}

@media screen and (min-width: 1200px) {
  .feedback__title {
    font-size: 20px;
    line-height: calc(23 / 20);
  }
}

.feedback__label {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

.feedback__mark {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.feedback__input {
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback__input:focus {
  border-color: #2196f3;
  cursor: pointer;
}

.feedback__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback__input:focus + .feedback__icon {
  fill: #2196f3;
}

.feedback__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  cursor: pointer;
}

.feedback__btn {
  text-align: center;
}

.feedback-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.feedback-textarea:focus {
  border-color: #2196f3;
  cursor: pointer;
}

.feedback-textarea::placeholder {
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.feedback-textarea-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.checkbox__border {
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  transition: boborder-color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .checkbox__border {
    margin-right: 8px;
  }
}

.checkbox:checked + .checkbox__border {
  border-color: #2196f3;
  background-color: #2196f3;
}

.checkbox__text {
  font-size: 12px;
  line-height: calc(14 / 12);
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .checkbox__text {
    font-size: 14px;
    line-height: calc(24 / 14);
  }
}

.link-policy {
  color: #2196f3;
}

.btn-send {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-send:hover, .btn-send:focus {
  background-color: #188ce8;
}

.btn-close {
  position: absolute;
  display: flex;
  align-items: center;
  right: 8px;
  top: 8px;
  min-width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.btn-close:focus .btn-close__icon,
.btn-close:hover .btn-close__icon {
  fill: #2196f3;
}

.btn-close__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  height: 100vh;
  width: 100vw;
  top: 0;
  opacity: 1;
  transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  transform: translate(-50%, -50%) scale(1);
  width: 450px;
  height: 609px;
  top: 50%;
  left: 50%;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .filter {
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767px) {
  .filter__item {
    margin-bottom: 15px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__btn {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  background-color: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__btn:focus, .filter__btn:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: #2196f3;
  color: #fff;
}

.gallery {
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.gallery__item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .gallery__item {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .gallery__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}

.gallery__link {
  display: block;
  color: #212121;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__link:hover, .gallery__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__link:hover .gallery__text,
.gallery__link:focus .gallery__text {
  transform: translateY(0%);
}

.gallery__overlay {
  position: relative;
  overflow: hidden;
}

.gallery__text {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  font-size: 18px;
  line-height: calc(28 / 18);
  color: #fff;
  padding: 63px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__description {
  padding: 20px 24px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
  border-left: 1px solid #eee;
}

.gallery__title {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.gallery__subtitle {
  font-size: 16px;
  line-height: calc(30 / 16);
  color: #757575;
}

.contact {
  display: flex;
  margin-left: auto;
}

@media screen and (max-width: 767px) {
  .contact {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact {
    flex-direction: column;
  }
}

.contact__item {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16.41 / 14);
  letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item:not(:last-child) {
    margin-right: 30px;
  }
}

.contact__link {
  display: flex;
  align-items: center;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover, .contact__link:focus {
  color: #2196f3;
}

@media screen and (min-width: 1200px) {
  .contact__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contact__icon {
  fill: currentColor;
  margin-right: 10px;
}

.header {
  border-bottom: 1px solid #ececec;
  background-color: #fff;
}

.header__conteiner {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28.18 / 24);
  color: #000;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 88px;
    padding: 26px 0;
  }
}

@media screen and (min-width: 1200px) {
  .header-logo {
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
    font-size: 26px;
    line-height: calc(30.52 / 26);
  }
}

.header-logo__part {
  color: #2196f3;
}

.navigation {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16.41 / 14);
  letter-spacing: 0.02em;
}

@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  position: relative;
  display: block;
  height: 80px;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.navigation__link--active {
  color: #2196f3;
}

.navigation__link--active::after {
  position: absolute;
  content: '';
  display: block;
  background-color: #2196f3;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  top: calc(100% - 3px);
}

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 48px 40px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  z-index: 999;
  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu__button {
  top: 10px;
  right: 15px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .menu__button {
    display: none;
  }
}

.menu__button--position {
  position: absolute;
}

.button__icon {
  fill: currentColor;
}

.button__icon:hover, .button__icon:focus {
  color: #2196f3;
}

.navigation-mobile {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  margin-bottom: auto;
}

.navigation-mobile__item:not(:last-child) {
  margin-bottom: 32px;
}

.navigation-mobile__link {
  color: #212121;
}

.navigation-mobile__link:active {
  color: #2196f3;
}

.navigation-mobile__link--current {
  color: #2196f3;
}

.contact-mobile {
  margin-bottom: 64px;
}

.contact-mobile__item:not(:last-child) {
  margin-bottom: 32px;
}

.contact-mobile__link {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28.13 / 24);
  letter-spacing: 0.02em;
  color: #757575;
}

.contact-mobile__link:active {
  font-size: 34px;
  line-height: calc(39.84 / 34);
  color: #2196f3;
}

.social-mobile {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
}

.sociale-mobile__item {
  display: flex;
}

.sociale-mobile__item:not(:last-child) {
  margin-right: 10px;
}

.sociale-mobile__item:not(:last-child)::after {
  content: '';
  display: inline-flex;
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.social-mobile__link {
  display: block;
  color: #2196f3;
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28.18 / 24);
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer-logo {
    font-size: 26px;
    line-height: calc(30.52 / 26);
  }
}

@media screen and (max-width: 767px) {
  .social-box {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .social-box {
    margin-right: 93px;
  }
}

.social-link-footer {
  display: block;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:focus, .social-link-footer:hover {
  background-color: #2196f3;
}

.adress {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
}

.adress__item:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .adress__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.adress__link {
  color: #fff;
}

.adress__mail,
.adress__tel {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (min-width: 768px) {
  .subscribe {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe {
    flex-direction: column;
    align-items: center;
  }
}

.subscribe__input {
  padding: 5px;
  color: rgba(255, 255, 255, 0.6);
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

@media screen and (max-width: 767px) {
  .subscribe__input {
    width: 100%;
  }
}

@media screen and (max-width: 1199px) {
  .subscribe__input {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe__input {
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe__input {
    margin-right: 12px;
    width: 358px;
  }
}

.subscribe__input::placeholder {
  font-size: 16px;
  line-height: calc(20 / 16);
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
}

.subscribe__icon {
  fill: #fff;
  margin-left: 10px;
}

.subscribe__btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16.41 / 14);
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .footer__conteiner {
    text-align: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__conteiner {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (max-width: 767px) {
  .logo-adress-box {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-adress-box {
    flex-grow: 1;
    margin-right: 70px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .wrapper {
    padding-left: 76px;
    padding-right: 89px;
    margin-bottom: 60px;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    flex-grow: 1;
  }
}
/*# sourceMappingURL=main.css.map */