.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(30.52 / 26);
  color: #000;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
}

.header-logo__part {
  color: $accent-color;
}
