.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  padding: 48px 40px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: $third-color;
  z-index: 999;
  transform: translateX(-100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.is-open {
    transform: translateX(0);
  }
}

.menu__button {
  top: 10px;
  right: 15px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  margin-left: auto;

  @media screen and(min-width:768px) {
    display: none;
  }
}

.menu__button--position {
  position: absolute;
}

.button__icon {
  &:hover,
  &:focus {
    color: $accent-color;
  }
  fill: currentColor;
}
.navigation-mobile {
  font-weight: 500;
  font-size: 40px;
  line-height: calc(47 / 40);
  letter-spacing: 0.02em;
  margin-bottom: auto;
}

.navigation-mobile__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.navigation-mobile__link {
  color: $primary-color;
  &:active {
    color: $accent-color;
  }
}

.navigation-mobile__link--current {
  color: $accent-color;
}

.contact-mobile {
  margin-bottom: 64px;
}

.contact-mobile__item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.contact-mobile__link {
  font-weight: 500;
  font-size: 24px;
  line-height: calc(28.13 / 24);
  letter-spacing: 0.02em;
  color: $secondary-color;
}

.contact-mobile__link:active {
  font-size: 34px;
  line-height: calc(39.84 / 34);
  color: $accent-color;
}

.social-mobile {
  display: flex;
  flex-wrap: wrap;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);
  letter-spacing: 0.02em;
}

.sociale-mobile__item {
  display: flex;
  &:not(:last-child) {
    margin-right: 10px;
    &::after {
      content: '';
      display: inline-flex;
      width: 1px;
      height: 22px;
      background-color: rgba(33, 33, 33, 0.2);
      margin-left: 10px;
    }
  }
}
.social-mobile__link {
  display: block;
  color: $accent-color;
}
