.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__text {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16.41 / 14);
  text-transform: uppercase;
  color: $third-color;
  margin-bottom: 20px;
}

.footer__conteiner {
  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.logo-adress-box {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    flex-grow: 1;
    margin-right: 70px;
  }
}

.wrapper {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 76px;
    padding-right: 89px;
    margin-bottom: 60px;
    justify-content: space-between;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }
}
