.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 24px;
  line-height: calc(28.18 / 24);
  color: $third-color;
  text-decoration: none;
  display: block;
  margin-bottom: 20px;

  @media screen and(min-width: 768px) {
    font-size: 26px;
    line-height: calc(30.52 / 26);
  }
}
