.subscribe-form {
  display: flex;
  flex-direction: column;
}

.subscribe {
  display: flex;
}
.subscribe__input {
  width: 358px;
  padding: 5px;
  color: rgba(255, 255, 255, 0.6);
  height: 50px;
  margin-right: 12px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: none;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  &::placeholder {
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: $letter-spacing;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
  }
}

.subscribe__icon {
  fill: $third-color;
  margin-left: 10px;
}

.subscribe__btn {
  @extend .btn;
  display: flex;
  align-items: center;
  justify-content: center;
}
