.section--background {
  background-color: #f5f4fa;
}

.team {
  font-size: 16px;
  line-height: calc(18.75 / 16);
  text-align: center;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 60px) / 2);
    margin: 15px;
  }
  @media screen and(max-width:767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 120px) / 4);
    margin: 15px;
  }
  // &:not(:last-child) {
  //   margin-right: 30px; dla dekstopa
  // }
}

.team__box {
  padding-top: 30px;
  padding-bottom: 24px;
  background-color: $third-color;
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 1200px) {
    padding-bottom: 30px;
  }
}

.team__title {
  font-weight: 500;
  margin-bottom: 10px;
}

.team__text {
  font-weight: 400;
  color: $secondary-color;
  margin-bottom: 16px;
}

.social {
  display: flex;
  justify-content: center;
}
.social__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.social__link {
  display: block;
  padding: 12px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.social__icon {
  fill: currentColor;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .social__link:hover > & {
    fill: $third-color;
  }
  .social__link:focus > & {
    fill: $third-color;
  }
}
